<?xml version="1.0" encoding="UTF-8"?>
<!-- 通过Web服务器实例化ApplicationContext容器 -->
<context-param>
	<!-- 加载src目录下的applicationContext.xml文件 -->
	<param-name>contextConfiglocation</param-name>
	<param-value>
		classpath:applicationContext.xml
	</param-value>
	<!-- 指定以ContextLoaderListener方式启动Spring容器 -->
	<listener-class>
		org.springframework.web.context.ContextLoaderListener
	</listener-class>
</context-param>